:root {
  --main-text-color: #434455;
  --main-logo-color: #4d5ae5;
  --secondary-logo-header: #2e2f42;
  --contacts-color: #434455;
  --white-for-project: #ffffff;
  --header-hover: #404bbf;
  --hero-background-color: #2e2f42;
  --hero-button-background: #4d5ae5;
  --hero-button-hover: #404bbf;
  --title-color: #2e2f42;
  --team-background-color: #f4f4fd;
  --icon-background-color: #4d5ae5;
  --team-media-hover: #404bbf;
  --clients-logo-hover: #404bbf;
  --footer-background-color: #2e2f42;
  --categories-text-color: #434455;
  --footer-logo-color: #4d5ae5;
  --secondary-logo-footer: #f4f4fd;
  --footer-text: #f4f4fd;
  --footer-media-hover: #31d0aa;
  --icon-media-fill: #f4f4fd;
  --customers-icon-fill: #8e8f99;
  --main-button-background: #f4f4fd;
  --main-button-text: #4d5ae5;
  --categories-cover-color: #f4f4fd;
  --categories-cover-bgc: #4d5ae5;
  --second-title-size: 36px;
  --second-title-height: 1.11;
  --second-title-transform: capitalize;
  --third-title-weight: 500;
  --third-title-size: 20px;
  --third-title-height: 1.2;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
  background-color: var(--white-for-project);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.icon {
  fill: currentColor;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-logo-color);
  display: inline-block;
  margin-right: 76px;
}

.link .header-logo-design {
  color: var(--secondary-logo-header);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  font-weight: 500;
  line-height: 1.5;
  color: var(--title-color);
  padding: 24px 0;
  transition: color var(--transition);
}

.current {
  position: relative;
  color: var(--header-hover);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--hover-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

/* CONTACTS */
.header-contacts-list {
  display: flex;
  gap: 40px;
}

.address {
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: auto;
}

.contacts-link {
  color: var(--contacts-color);
  transition: color var(--transition);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--header-hover);
}
/* HERO */
.hero {
  background-color: var(--hero-background-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-for-project);
  max-width: 496px;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--white-for-project);
  background-color: var(--hero-button-background);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-button-hover);
}

/* BENEFITS */
.benefits-title {
  font-weight: var(--third-title-weight);
  font-size: var(--third-title-size);
  line-height: var(--third-title-height);
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}
.benefits-icon-container {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* EXAMPLES */
.examples {
  padding-bottom: 120px;
}

.examples-title {
  font-size: var(--second-title-size);
  line-height: var(--second-title-height);
  text-transform: var(--second-title-transform);
  text-align: center;
  margin-bottom: 72px;
  color: var(--title-color);
}

.examples-list {
  display: flex;
  gap: 24px;
}

.examples-item {
  width: calc((100% - 24px * 2) / 3);
}

/* TEAM */
.team {
  background-color: var(--team-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
}

.team-title {
  font-size: var(--second-title-size);
  line-height: var(--second-title-height);
  letter-spacing: 0.02em;
  text-transform: var(--second-title-transform);
  text-align: center;
  color: var(--title-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white-for-project);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-title {
  font-weight: var(--third-title-weight);
  font-size: var(--third-title-size);
  line-height: var(--third-title-height);
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 8px;
}

.team-list-text {
  text-align: center;
}

.item-description {
  padding: 32px 0;
}

.team-media-list {
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-media-item {
  width: 40px;
  height: 40px;
}

.media-link:hover,
.media-link:focus {
  background-color: var(--team-media-hover);
}

.media-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--icon-media-fill);
  background-color: var(--icon-background-color);
  border-radius: 50%;
  transition: background-color var(--transition);
}

/* CUSTOMERS */
.customers {
  padding: 120px 0;
}
.customers-title {
  font-size: var(--second-title-size);
  line-height: var(--second-title-height);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: var(--second-title-transform);
  margin-bottom: 72px;
  color: var(--title-color);
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 5 * 24px) / 6);
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--clients-logo-hover);
  border-color: #404bbf;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  color: var(--customers-icon-fill);
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: border-color var(--transition), color var(--transition);
}

/* FOOTER */
.footer {
  background-color: var(--footer-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  margin-right: 120px;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-design {
  color: var(--secondary-logo-footer);
}

.footer-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--footer-text);
  max-width: 264px;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-media-container {
  margin-left: 120px;
}

.footer-media-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--white-for-project);
}
.footer-media-list {
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-media-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--icon-media-fill);
  background-color: var(--icon-background-color);
  border-radius: 50%;
  transition: background-color var(--transition);
}

.footer-media-item {
  width: 40px;
  height: 40px;
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: var(--footer-media-hover);
}

/** ------------------PORTFOLIO----------------- */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
/* MAIN */
.main-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.main-btn {
  font-family: "Roboto", sans-serif;
  font-weight: var(--third-title-weight);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: var(--main-button-background);
  color: var(--main-button-text);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition), border-color var(--transition);
}

.main-btn:hover,
.main-btn:focus {
  color: var(--white-for-project);
  background-color: var(--hero-button-hover);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* CATEGORIES */
.categories-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.categories-text {
  color: var(--categories-text-color);
}

.categories-link {
  display: block;
  transition: box-shadow var(--transition);
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.categories-item {
  width: calc((100% - 24px * 2) / 3);
  background-color: var(--white-for-project);
}

.categories-link:hover,
.categories-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.categories-info-container {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.categories-cover-block {
  position: relative;
  overflow: hidden;
}

.categories-cover-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--categories-cover-color);
  position: absolute;
  background-color: var(--categories-cover-bgc);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--transition);
}

.categories-link:hover.categories-cover-text,
.categories-link:focus.categories-cover-text {
  transform: translateY(0%);
}
/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  width: 408px;
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}

.modal-btn {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition), border var(--transition);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  fill: var(--white-for-project);
  border: none;
}

.modal-close-icon {
  transition: fill var(--transition);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
